@import "title/__text/title__text.css";
@import "title/__text/title__text_block.css";
@import "block/block.css";
@import "button/__menu/button__menu.css";
@import "grid/__container/_fluid/grid__container_fluid.css";
@import "grid/__row/grid__row.css";
@import "grid/__col/_4/grid__col_4.css";
@import "grid/__col-offset/_4/grid__col-offset_4.css";
@import "title/__page-header/title__page-header.css";
@import "block/__jumbotron/block__jumbotron.css";
@import "form/__control/form__control.css";
@import "form/__checkbox/form__checkbox.css";
@import "button/button.css";
@import "button/_success/button_success.css";
@import "button/_danger/button_danger.css";
@import "button/_block/button_block.css";
@import "button/__group/button_group.css";
@import "button/__group/_vertical/button__group_vertical.css";
@import "button/_lg/button_lg.css";
@import "button/_primary/button_primary.css";
@import "form/__group/form__group.css";
@import "form/__control/_label/form__control_label.css";
@import "grid/__col/_9/grid__col_9.css";
@import "grid/__col/_3/grid__col_3.css";
@import "grid/__col/grid__col.css";
@import "table/table.css";
@import "table/_hover/table_hover.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h1 {
    font-size: 36px;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
a {
    color: #337ab7;
    text-decoration: none;
}