.hidden {
  display: none; }

.grid__col_1 {
  float: left;
  width: 8.3333333333%; }

.grid__col-offset_1 {
  margin-left: 8.3333333333%; }

.grid__col_2 {
  float: left;
  width: 16.6666666667%; }

.grid__col-offset_2 {
  margin-left: 16.6666666667%; }

.grid__col_3 {
  float: left;
  width: 25%; }

.grid__col-offset_3 {
  margin-left: 25%; }

.grid__col_4 {
  float: left;
  width: 33.3333333333%; }

.grid__col-offset_4 {
  margin-left: 33.3333333333%; }

.grid__col_5 {
  float: left;
  width: 41.6666666667%; }

.grid__col-offset_5 {
  margin-left: 41.6666666667%; }

.grid__col_6 {
  float: left;
  width: 50%; }

.grid__col-offset_6 {
  margin-left: 50%; }

.grid__col_7 {
  float: left;
  width: 58.3333333333%; }

.grid__col-offset_7 {
  margin-left: 58.3333333333%; }

.grid__col_8 {
  float: left;
  width: 66.6666666667%; }

.grid__col-offset_8 {
  margin-left: 66.6666666667%; }

.grid__col_9 {
  float: left;
  width: 75%; }

.grid__col-offset_9 {
  margin-left: 75%; }

.grid__col_10 {
  float: left;
  width: 83.3333333333%; }

.grid__col-offset_10 {
  margin-left: 83.3333333333%; }

.grid__col_11 {
  float: left;
  width: 91.6666666667%; }

.grid__col-offset_11 {
  margin-left: 91.6666666667%; }

.grid__col_12 {
  float: left;
  width: 100%; }

.grid__col-offset_12 {
  margin-left: 100%; }

.grid__str_1 {
  position: relative;
  height: 10%; }

.grid__str-offset_1 {
  margin-top: 10%; }

.grid__str_2 {
  position: relative;
  height: 20%; }

.grid__str-offset_2 {
  margin-top: 20%; }

.grid__str_3 {
  position: relative;
  height: 30%; }

.grid__str-offset_3 {
  margin-top: 30%; }

.grid__str_4 {
  position: relative;
  height: 40%; }

.grid__str-offset_4 {
  margin-top: 40%; }

.grid__str_5 {
  position: relative;
  height: 50%; }

.grid__str-offset_5 {
  margin-top: 50%; }

.grid__str_6 {
  position: relative;
  height: 60%; }

.grid__str-offset_6 {
  margin-top: 60%; }

.grid__str_7 {
  position: relative;
  height: 70%; }

.grid__str-offset_7 {
  margin-top: 70%; }

.grid__str_8 {
  position: relative;
  height: 80%; }

.grid__str-offset_8 {
  margin-top: 80%; }

.grid__str_9 {
  position: relative;
  height: 90%; }

.grid__str-offset_9 {
  margin-top: 90%; }

.grid__str_10 {
  position: relative;
  height: 100%; }

.grid__str-offset_10 {
  margin-top: 100%; }

.grid__container {
  box-sizing: border-box; }
  .grid__container_fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

.grid__row {
  margin-right: -15px;
  margin-left: -15px; }

.title__page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee; }

.title__text {
  text-align: center; }
  .title__text_block {
    margin-bottom: 20px; }

.loader {
  display: block;
  position: fixed;
  align: center;
  top: 50%;
  width: 45%;
  content: url("/images/loader.svg"); }

.main {
  margin: 0;
  align: center; }
  .main__head {
    background-color: #e26d5c; }
  .main__body {
    background-color: #ffe1a8; }

.boomark {
  width: 640px;
  height: 450px;
  position: relative;
  /*
  .notebook2 > div:nth-of-type(1) > *:first-child { left: 20px; }
  .notebook2 > div:nth-of-type(2) > *:first-child { left: 170px; }
  .notebook2 > div:nth-of-type(3) > *:first-child { left: 320px; }
  .notebook2 > div:nth-of-type(4) > *:first-child { left: 470px; }

  .notebook2 > input:nth-of-type(1):checked ~ div:nth-of-type(1),
  .notebook2 > input:nth-of-type(2):checked ~ div:nth-of-type(2),
  .notebook2 > input:nth-of-type(3):checked ~ div:nth-of-type(3),
  .notebook2 > input:nth-of-type(4):checked ~ div:nth-of-type(4) {
    z-index: 10;
    background-color: #ccc;
    transition: all 0.5s ease 0.5s, z-index 0s 0.5s;
  }

  .notebook2 > input:nth-of-type(1):checked ~ div:nth-of-type(1) > *:first-child,
  .notebook2 > input:nth-of-type(2):checked ~ div:nth-of-type(2) > *:first-child,
  .notebook2 > input:nth-of-type(3):checked ~ div:nth-of-type(3) > *:first-child,
  .notebook2 > input:nth-of-type(4):checked ~ div:nth-of-type(4) > *:first-child {
    color: #333;
    transition: all 0.5s ease 0.5s;
  }*/ }
  .boomark__input {
    display: none; }
  .boomark__div {
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 10px;
    padding: 0px 1em;
    z-index: 0;
    background-color: #666;
    transition: all 0.5s ease 0s, z-index 0s 0.5s; }
    .boomark__div_first {
      display: block;
      position: absolute;
      box-sizing: border-box;
      top: -30px;
      width: 150px;
      height: 30px;
      font-family: Arial;
      font-size: 13px;
      border-radius: 10px 10px 0px 0px;
      background-color: inherit;
      color: #fff;
      line-height: 28px;
      cursor: pointer;
      text-align: center;
      transition: all 0.5s ease 0s; }
    .boomark__div_notFirst {
      opacity: 0;
      transition: all 0.5s ease 0s; }

.text {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 5px; }
  .text__nick {
    margin-left: 30px; }
  .text__temporary {
    font-weight: bold; }

/*# sourceMappingURL=sass.css.map */