.button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-top: 10px;
  &__active {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    background: #7D869C;
    box-shadow: 0 -3px #50799B inset;
    transition: 0.2s;
    &:hover {
      background: #50799B;
    }
    &:active {
      background: #6293BC;
      box-shadow: 0 3px #6293BC inset;
    }
  }

  &__disabled {
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 3px;
    background: #E6EAE3;
  }

  &__check {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 3px;
    //border-radius: 3px;
    background: #723d46;
    border: 2px solid black;
    box-shadow: -2px -2px #000 inset;
    transition: 0.2s;
    font-size: 20px;
    &:hover {
      background: #50799B;
    }
    &:active {
      background: #6293BC;
      box-shadow: 0 3px #6293BC inset;
    }
  }

  &__lg {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 150px;
  }
}

/*.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:focus,
  &:active:focus {
    outline: thin dotted;
    outline: 5px auto;
    outline-offset: -2px;
  }
  &:hover,
  &:focus {
    color: #333;
    text-decoration: none;
  }
  &:active {
    background-image: none;
    outline: 0;
  }
  &__group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &_vertical {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
    }
  }
  &__menu {
    margin: 10px;
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
  }
  &_block {
    display: block;
    width: 100%;
  }
  &_block + &_block {
    margin-top: 10px;
  }

  &_danger {
    color: #fff;
    background-color: #d9534f;
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
    &:focus {
      color: #fff;
      background-color: #c9302c;
      border-color: #761c19;
    }
    &:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }
    &:active {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }
    &:active:hover,
    &:active:focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19;
    }
    &:active {
      background-image: none;
    }
  }
  &_lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  &_primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
    &:focus {
      color: #fff;
      background-color: #286090;
      border-color: #122b40;
    }
    &:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
    &:active {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
    &:active:hover,
    &:active:focus {
      color: #fff;
      border-color: #122b40;
      background-color: #265a88;
      background-position: 0 -15px;
    }
    &:active {
      background-image: none;
    }
  }
  &_success {
    color: #fff;
    background-color: #5cb85c;
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
    &:focus {
      color: #fff;;
      border-color: #255625;
      background-color: #419641;
      background-position: 0 -15px;
    }
    &:hover {
      color: #fff;
      background-color: #449d44;
      border-color: #398439;
    }
    &:active {
      color: #fff;
      background-color: #449d44;
      border-color: #398439;
    }
    &:active:hover,
    &:active:focus {
      color: #fff;
      background-color: #398439;
      border-color: #255625;
    }
    &:active {
      background-image: none;
    }
  }
}*/