.grid {
  @for $col from 1 to 13 {
    &__col_#{$col} {
      width: 100% / 12 * $col;
    }
    &__col-offset_#{$col} {
      margin-left: 100% / 12 * $col;
    }
  }

  &__container {
    &_fluid {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__row {
    margin-right: -15px;
    margin-left: -15px;
  }
}