.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .button:focus, .button:active:focus {
    outline: thin dotted;
    outline: 5px auto;
    outline-offset: -2px; }
  .button:hover, .button:focus {
    color: #333;
    text-decoration: none; }
  .button:active {
    background-image: none;
    outline: 0; }
  .button__group {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
    .button__group_vertical {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%; }
  .button__menu {
    margin: 10px;
    display: block;
    float: none;
    width: 100%;
    max-width: 100%; }
  .button_block {
    display: block;
    width: 100%; }
  .button_block + .button_block {
    margin-top: 10px; }
  .button_danger {
    color: #fff;
    background-color: #d9534f;
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28; }
    .button_danger:focus {
      color: #fff;
      background-color: #c9302c;
      border-color: #761c19; }
    .button_danger:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925; }
    .button_danger:active {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925; }
    .button_danger:active:hover, .button_danger:active:focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19; }
    .button_danger:active {
      background-image: none; }
  .button_lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px; }
  .button_primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580; }
    .button_primary:focus {
      color: #fff;
      background-color: #286090;
      border-color: #122b40; }
    .button_primary:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74; }
    .button_primary:active {
      color: #fff;
      background-color: #286090;
      border-color: #204d74; }
    .button_primary:active:hover, .button_primary:active:focus {
      color: #fff;
      border-color: #122b40;
      background-color: #265a88;
      background-position: 0 -15px; }
    .button_primary:active {
      background-image: none; }
  .button_success {
    color: #fff;
    background-color: #5cb85c;
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e; }
    .button_success:focus {
      color: #fff;
      border-color: #255625;
      background-color: #419641;
      background-position: 0 -15px; }
    .button_success:hover {
      color: #fff;
      background-color: #449d44;
      border-color: #398439; }
    .button_success:active {
      color: #fff;
      background-color: #449d44;
      border-color: #398439; }
    .button_success:active:hover, .button_success:active:focus {
      color: #fff;
      background-color: #398439;
      border-color: #255625; }
    .button_success:active {
      background-image: none; }

/*# sourceMappingURL=out.css.map */
