.button_primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}
.button_primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.button_primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.button_primary:active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.button_primary:active:hover,
.button_primary:active:focus {
    color: #fff;
    border-color: #122b40;
    background-color: #265a88;
    background-position: 0 -15px;
}
.button_primary:active {
    background-image: none;
}
