.button_success {
    color: #fff;
    background-color: #5cb85c;
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}
.button_success:focus {
    color: #fff;;
    border-color: #255625;
    background-color: #419641;
    background-position: 0 -15px;
}
.button_success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.button_success:active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.button_success:active:hover,
.button_success:active:focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.button_success:active {
    background-image: none;
}