.button_danger {
    color: #fff;
    background-color: #d9534f;
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}
.button_danger:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}
.button_danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.button_danger:active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.button_danger:active:hover,
.button_danger:active:focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.button_danger:active {
    background-image: none;
}